{% extends 'base.html' %}
{% load static %}
{% block title %}
    Facebook
{% endblock %}


{% block content %}

    <!-- main body starts -->
    <div class="main__body">
        <!-- sidebar starts -->
        <div class="sidebar">
            <div class="sidebarRow " id="to-profile-page" data-user="{{ request.user.pk }}">
                <img
                        class="user__avatar"
                        src="{{ request.user.profile_image.url }}"
                        alt=""
                />
                <h4>{{ request.user.last_name }} {{ request.user.first_name }}</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>Hospital Center</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> emoji_flags </span>
                <h4>Pages</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> people </span>
                <h4>People</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> chat </span>
                <h4>Messenger</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> storefront </span>
                <h4>Marketplace</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> video_library </span>
                <h4>Videos</h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> expand_more </span>
                <h4>More</h4>
            </div>
        </div>
        <!-- sidebar ends -->

        <!-- feed starts -->
        <div class="feed">
            <div class="storyReel">
                <!-- story starts -->
                {% for story in stories %}
                    <a href="{% url 'accounts:profile' story.user.id %}"><div
                            style="background-image: url('{{ story.story_image.url }}');"
                            class="story">
                        <img
                                class="user__avatar story__avatar"
                                src="{{ story.user.profile_image.url }}"
                                alt=""/>
                        <h4>{{ story.user.last_name }} {{ story.user.first_name }}</h4>
                    </div></a>
                {% endfor %}
                <!-- story ends -->
            </div>

            <!-- message sender starts -->
            <div class="messageSender">
                <div class="messageSender__top">
                    <img
                            class="user__avatar"
                            src={{ user.profile_image.url }}
                                    alt=""
                    />
                    <form>
                        <input style="text-align: left" class="messageSender__input" id="message-sender"
                               value="What's on your mind?" type="button"
                               role="button"/>


                    </form>


                </div>

                <div class="messageSender__bottom">
                    <div class="messageSender__option">
                        <span style="color: red" class="material-icons"> videocam </span>
                        <h3>Live</h3>
                    </div>

                    <div class="messageSender__option">
                        <span style="color: green" class="material-icons"> photo_library </span>
                        <h3>Photo</h3>
                    </div>

                    <div class="messageSender__option">
                        <span style="color: orange" class="material-icons"> insert_emoticon </span>
                        <h3>Feeling</h3>
                    </div>
                </div>
            </div>
            <!-- message sender ends -->
            {% for post in posts %}
                <!-- post starts -->
                <div class="post">
                    <div class="post__top">
                        <a href="{% url 'accounts:profile' post.author.id %}"><img
                                class="user__avatar post__avatar"
                                src={{ post.author.profile_image.url }}
                                        alt=""
                        /></a>
                        <div class="post__topInfo">
                            <h3>{{ post.author.get_full_name }}</h3>
                            <p>{{ post.created_time|date:'M ,d Y' }}</p>
                        </div>
                    </div>

                    <div class="post__bottom">
                        <p>{{ post.content|linebreaks }}</p>
                    </div>

                    <div class="post__image">
                        {% if post.post_image %}
                            <img class="image-fit" src="{{ post.post_image.url }}" alt="">
                        {% endif %}
                    </div>

                    <div class="post__options">
                        <div class="post__option post-like" data-post="{{ post.id }}">
                            <span class="material-icons {% if post in posts_liked %}text-danger{% else %}{% endif %}"> thumb_up </span>
                            <p>Like</p>
                        </div>
                        <a style="text-decoration: none" href="{% url 'comment-create' post.id %}">
                            <div class="post__option">
                                <span class="material-icons"> chat_bubble_outline </span>
                                <p>Comment</p>

                            </div>
                        </a>

                        <div class="post__option">
                            <span class="material-icons"> near_me </span>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
                <!-- post ends -->
            {% endfor %}
        </div>
        <!-- feed ends -->

        <div style="flex: 0.33" class="widgets">
            <div
                    class="fb-page"
                    data-href="https://www.facebook.com/facebook"
                    data-tabs="timeline"
                    data-width="500"
                    data-height="1000"
                    data-small-header="false"
                    data-adapt-container-width="true"
                    data-hide-cover="false"
                    data-show-facepile="true"
            >
                {#                <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">#}
                {#                    <a href="https://www.facebook.com/facebook">Facebook</a>#}
                {#                </blockquote>#}
                <p class="mt-2 ms-2"><a href="#" style="text-decoration: none;">Place Your Ads</a></p>
                {% for _ in '1,2,3,4,5' %}
                    <div class="m-2 mb-4">
                        <img style="max-width: 300px;max-height: 300px;filter: blur(5px);
  -webkit-filter: blur(5px);" src="{% static 'images/add-defualt.webp' %}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- main body ends -->

    <div id="fb-root"></div>


    <script>
        let toProfile = document.getElementById('to-profile-page')
        let m = toProfile.dataset.user
        toProfile.addEventListener('click', function (event) {
            document.location.href = 'http://localhost:8000/accounts/' + m.toString() + '/profile/'
        })

        let postLike = document.getElementsByClassName('post-like')
        postLike = Array.from(postLike)
        postLike.forEach(function (item, index) {
            console.log(item)
            item.addEventListener('click', function () {
                let path=`http://127.0.0.1:8000/posts/${item.dataset.post}/like/`
                document.location.href=path
            })
        })

    </script>



{% endblock content %}